In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator
import random as rd

## Liste des critères
**projet_max** : je ne veux pas travailler sur trop de projets différents \
**Benefice** : je veux travailler le plus de jours possible. \
**longueur_max** : je ne veux pas travailler sur un projet trop court (on veut que le plus petit des projets ne soit pas trop petit).

On va maintenant créer un ordonnancement de ces critères de préférence pour chaque employé.

In [47]:
def pref_aleatoire(liste_employes):
    dict_emp = {}
    for employe in liste_employes:
        liste_criteres = ['Benefice','projet_max','longueur_max']
        random.shuffle(liste_criteres)
        dict_emp[employe]= liste_criteres
    return dict_emp

In [48]:
liste = ['bob','alice','kameto','glutonny']
dico = pref_aleatoire(liste)
dico

{'bob': ['Benefice', 'projet_max', 'longueur_max'],
 'alice': ['longueur_max', 'Benefice', 'projet_max'],
 'kameto': ['Benefice', 'projet_max', 'longueur_max'],
 'glutonny': ['projet_max', 'Benefice', 'longueur_max']}

In [49]:
path = "/Users/macoco/Desktop/CS/3A/SDP/projet_sdp/project-sdp/results/final"

df = pd.read_excel(path+'/small.xlsx',header=[0,1],index_col=[0])
#df = df.iloc[2:]
df

          Affectation                                               \
Jour                1              2              3              4
Nom
Emma    ['Job4', 'C']       En congé  ['Job1', 'C']  ['Job3', 'C']
Liam         En congé  ['Job4', 'B']  ['Job1', 'A']  ['Job3', 'A']
Olivia  ['Job4', 'B']  ['Job1', 'B']  Non affecté.e  ['Job3', 'C']


Jour                5
Nom
Emma    ['Job5', 'C']
Liam    Non affecté.e
Olivia  ['Job5', 'C']

In [50]:
liste_employes = list(df.index)
liste_employes

['Emma', 'Liam', 'Olivia']

In [51]:
dico_preference = pref_aleatoire(liste_employes)
dico_preference

{'Emma': ['longueur_max', 'Benefice', 'projet_max'],
 'Liam': ['projet_max', 'Benefice', 'longueur_max'],
 'Olivia': ['projet_max', 'longueur_max', 'Benefice']}

In [45]:
#df.loc[df.index=='Emma'][('Affectation',1)]

Nom
Emma    ['Job4', 'C']
Name: (Affectation, 1), dtype: object

In [ ]:
def get_critere(df):